**How the recommend algorithm works?**  
First we use knn algorithm to get the 10 most similar places (according to likes, which means it is based on user preferences).  
After getting the 10 most similar places, we rank all users in order from who has liked the most out of those 10 places, and select the top 5 users.  
This means that at the end, we have found the users that are most probable to liking the place to recommend because they have liked t

In [1]:
from sklearn.neighbors import NearestNeighbors
import pandas as pd
import numpy as np

**Create knn model**

In [10]:
model = NearestNeighbors(metric='cosine', n_neighbors=11, algorithm='brute', n_jobs=-1)

**Import data from user likes on places**

In [11]:
data = pd.read_csv("likes.csv", index_col="places")

**Fit model into data**

In [12]:
model.fit(data)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=11)

**Find most similar places**

In [13]:
neighbors = pd.DataFrame(np.array(model.kneighbors(data, return_distance=False)))
neighbors

    0   1   2   3   4   5   6   7   8   9   10
0    0  71  29  18  47  64  30  33  53  61  38
1    1  12  74  64  60  23  34   4  47  42  73
2    2  24  44  33  47  19  10  64  57  14  66
3    3  52  49  54  46  57  73  45  64  74  60
4    4  64  37  31   1  48  34  42  10  41  14
..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
70  70  66  33  47   5  73  45  24  11  38   1
71  71  29  68   0   7  67  47  42  12  73  56
72  72   1  34  63  15  46  13  12  22  26  19
73  73  53  47   3  46  66   9   1  71  52  29
74  74  12   1  34   3  31  60  42  23  52   4

[75 rows x 11 columns]

**Simulate a place is given**

In [14]:
place = data.index[0]

**Find the 10 most similar places**

In [15]:
knn = [list(data.index)[x] for x in list(neighbors.iloc[list(data.index).index(place)][1:])]
knn

['yOTDvpqdsP',
 '1znr7xjJmc',
 '7MZDYdeQ90',
 '7a0cDFsv8P',
 'XYtnuOvOrU',
 'zpbaAHJPh3',
 'qFnXU8tVmq',
 'NKqrZHcwOK',
 'V04masGKPI',
 'MHXR6u2JJQ']

In [18]:
likes = data.loc[knn, :]
likes

,7z7dXts3aC,TlHUDWKomQ,Ms3YVyrHDY,PnYqb1eVNN,ZepZnkJ1xb,kCUyw2g5hJ,I5L0G6McQv,AAw378nAWm,UgeHPjP3KW,R3hFaRnYlw,wIgfXlA2PJ,nck94CG0VE,zhJ1YTgzve,CiQUtsBqDh,uHqzgzWyWa
places,,,,,,,,,,,,,,,
yOTDvpqdsP,1,1,1,1,1,1,1,0,1,1,1,0,0,0,1
1znr7xjJmc,1,1,1,1,0,1,1,0,1,1,1,0,0,0,0
7MZDYdeQ90,0,1,1,0,0,1,1,1,1,0,1,1,0,0,1
7a0cDFsv8P,1,1,1,1,1,1,1,1,1,0,1,0,1,1,0
XYtnuOvOrU,1,1,1,1,0,1,1,1,0,1,1,1,1,1,1
zpbaAHJPh3,0,1,1,1,0,1,1,0,1,0,1,1,1,1,1
qFnXU8tVmq,0,0,1,1,1,1,1,1,1,0,1,1,0,1,1
NKqrZHcwOK,1,1,1,0,0,1,0,1,1,1,1,1,0,1,1
V04masGKPI,0,1,0,1,0,1,1,1,1,1,1,1,0,1,1
MHXR6u2JJQ,0,1,1,1,0,1,1,1,1,0,1,1,1,1,0

In [32]:
likes_per_user = likes.astype(bool).sum(axis=0)
best_users = list(likes_per_user.sort_values(ascending=False).index)[:5]

In [33]:
best_users

['wIgfXlA2PJ', 'kCUyw2g5hJ', 'UgeHPjP3KW', 'I5L0G6McQv', 'Ms3YVyrHDY']